
body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;            
        }
.container {            
            width: 375px; 
            height: 734px;
            text-align: center;
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
h1 {
            color: #333;
            margin-bottom: 20px;
        }
button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
button:hover {
            background-color: #0056b3;
        }
.question-container {
            margin-top: 40px;
        }
.question {
            font-size: 18px;
            margin-bottom: 20px;
        }
.answers {
            display: grid;
            gap: 10px;
            grid-template-columns: 1fr 1fr;
        }
.answer-button {
            padding: 15px;
            background-color: green;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
.answer-button:hover {
            background-color: #bbb;
        }
.result {
            margin-top: 20px;
            font-size: 16px;
            color: green;
        }
.hint-button {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #888;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
.hint-button:hover {
            background-color: #666;
        }
.disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
.final-screen {
            margin-top: 40px;
        }
.prize {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }
.restart-button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
.restart-button:hover {
    background-color: #45a049;
}
.hidden {
    display: none; /* Элемент полностью скрыт */
} 

.modal-dialog {
    display: none; /* Скрываем диалог по умолчанию */
    position: fixed;
    width: 375px; 
    height: 734px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

    background-image: url('pic/green_bg.jpg'); /* Путь к изображению */
    background-size: 100% 100%; /* Масштабируем изображение, чтобы оно занимало весь контейнер */
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}

.modal-header h4 {
    margin-top: 0;
}

.modal-title {
    margin-top: 0;
    font-size: 42px;
    color: #2B2A29;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.modal-image {
    display: flex;    
    justify-content: center;    
    margin-top: 30px;    
}

.modal-image img {
    width: 256px;
    height: 256px;    
    margin: auto; /* Отцентрируем изображение внутри контейнера */
}

.modal-palki {
    display: flex;    
    justify-content: center;        
}

.modal-palki img {
    width: 158px;
    height: 157px;        
}


.modal-body {
    margin-top: 10px;
    font-size: 18px;
    color: #FEFEFE;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 120%;
}

.modal-footer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mistersu-dialog {
    display: none; /* Скрываем диалог по умолчанию */
    position: fixed;
    width: 375px; 
    height: 734px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    background-image: url('pic/bg_blue.jpg'); /* Путь к изображению */
    background-size: 100% 100%; /* Масштабируем изображение, чтобы оно занимало весь контейнер */
    background-position: center; /* Центруем изображение */
    background-repeat: no-repeat; /* Изображение не повторяется */
}

.btn {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
}

.btn-success {
    background-color: #28A745;
    color: white;
}

.btn-modal-dialog-continue {
    margin-top: 30px;
    width: 181px;
    height: 64px;
    border: 2px solid #2B2A29; /* Добавлен стиль границы */
    border-radius: 50px;
    background-color: #517709;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;    
}

.btn-modal-dialog-take-prize {
    display: flex; /* Активируем Flexbox */
    margin-top: 30px;
    width: 140px;
    height: 64px;
    border: 2px solid #2B2A29; /* Добавлен стиль границы */
    border-radius: 50px;
    background-color: #F04F23;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;    
}

.btn-modal-dialog-take-prize-gold {
    display: flex; /* Активируем Flexbox */
    margin-top: 30px;
    width: 294px;
    height: 64px;
    border: 2px solid #2B2A29; /* Добавлен стиль границы */
    border-radius: 50px;
    background-color: #F04F23;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;    
}

.icon {
    margin-right: 10px; /* Небольшой отступ между иконкой и текстом */
}

.btn-modal-dialog-take-prize-text {
    display: flex;               /* Включаем Flexbox */
    justify-content: center;     /* Горизонтально центрируем текст */
    align-items: center;         /* Вертикально центрируем текст */
    height: 100%;               /* Устанавливаем высоту контейнера */        
}


.btn-modal-dialog {
    margin-top: 30px;
    width: 327px;
    height: 64px;
    border: 2px solid #2B2A29; /* Добавлен стиль границы */
    border-radius: 50px;
    background-color: #2E9699;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;    
}



    